{% comment %}
#
# Copyright © 2012 Red Hat, Inc.
#
# This software is licensed to you under the GNU General Public
# License as published by the Free Software Foundation; either version
# 2 of the License (GPLv2) or (at your option) any later version.
# There is NO WARRANTY for this software, express or implied,
# including the implied warranties of MERCHANTABILITY,
# NON-INFRINGEMENT, or FITNESS FOR A PARTICULAR PURPOSE. You should
# have received a copy of GPLv2 along with this software; if not, see
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt.
{% endcomment %}

<html>

<head>
    <link type="text/css" href="http://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css" rel="Stylesheet" />	
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script>
        jQuery(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });    
    </script>
    <script>
        $(function() {
                var username = $( "#username" ),
                    password = $( "#password" ),
                    allFields = $( [] ).add( username ).add( password );

                $( "#login-form" ).dialog({
                    autoOpen: false,
                    height: 300,
                    width: 350,
                    modal: true,
                    buttons: {
                        "Login": function() {

                            var data = {
                                // XXX TESTING
                                "username": "shadowman",
                                "password": "shadowman",
                                // "username": username.val(),
                                // "password": password.val()
                            };

                            var jqxhr = $.ajax({
                                url: "/ui/login",
                                type: "POST",
                                contentType: "application/json",
                                data: data,
                                dataType: "json",
                            })

                            $(this).dialog("close");

                            jqxhr.complete(function(){  
                                window.location="base" 
                            });
                       },
                        Cancel: function() {
                            $( this ).dialog( "close" );
                        }
                    },
                    close: function() {
                        allFields.val( "" ).removeClass( "ui-state-error" );
                    }
                });

                // Login button click action.
                $( "#login-button" )
                    .button()
                    .click(function() {
                        $( "#login-form" ).dialog( "open" );
                });

                // Logout button click action.
                $( "#logout-button" )
                    .button()
                    .click(function() {
                        var jqxhr = $.ajax({
                            url: "/ui/logout",
                            type: "POST",
                            contentType: "application/json",
                        })

                        $("#logout-button").attr("disabled", true)

                        jqxhr.complete(function(){  
                            window.location = "logout"
                        });
                });

                // Disable Logout button if the user is not logged in.
                {% if user.is_authenticated %}
                    $("#logout-button").removeAttr("disabled")
                {% else %}
                    $("#logout-button").attr("disabled", true)
                    $("#logout-button").css("opacity", "0.35")
                {% endif %}


            });
    </script>
</head>

{% if user.is_authenticated %}
    <p>
    Welcome {{ user.username }}!
    </p>
{% else %}
    <p>
    You are not logged in.
    </p>
{% endif %}

<!-- Login Button -->
<button id="login-button">Login</button>
<!-- Logout Button -->
<button id="logout-button">Logout</button>

<!-- Login Form -->
<div id="login-form" title="Login">
	<form>
	<fieldset>
		<label for="username">Username</label><br>
		<input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" /><br>
		<label for="password">Password</label><br>
		<input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
</div>

{% block content %}

{% endblock %}

</html>
