{% extends "base.html" %}

{% comment %}
#
# Copyright © 2012 Red Hat, Inc.
#
# This software is licensed to you under the GNU General Public
# License as published by the Free Software Foundation; either version
# 2 of the License (GPLv2) or (at your option) any later version.
# There is NO WARRANTY for this software, express or implied,
# including the implied warranties of MERCHANTABILITY,
# NON-INFRINGEMENT, or FITNESS FOR A PARTICULAR PURPOSE. You should
# have received a copy of GPLv2 along with this software; if not, see
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt.
{% endcomment %}

{% block content %}

<style>
    .dataTables_wrapper {
        clear: left;
        min-height: 100px;
        position: relative;
    }

    .row_click {
    }
</style>


<div id="main-wrap" class="wrapu">
    <div class="wrapi">
        <div id="container" class="clearWrap">
            <div id="content" class="c-mF">
                <div id="main">
                    <div id="appsTabBox">
                        <div class="clearBoxXtraWide">
                            <div class="clearBoxInnerXtraWide">
                                <div class="clearBoxBody">
                                    <h1>Red Hat Identity Certificate Management</h1>
                                        <div class="contentIndent">
                                            <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                                                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
                                                        <span style="padding: 6 16;">Current Certificates</span>
                                                    </li>
                                                </ul>

<div id="rhic-page" class="ui-tabs-panel ui-widget-content ui-corner-bottom" style="padding: 20px 20px 20px 20px">
<a id="create-link" href="">Create a new Red Hat Identity Certificate</a>

<p>
<div id="cert-dialog" class="ui-helper-hidden">
    <label for="select-contract">Contract:</label>
    <select id="select-contract">
        <option id="default-contract">Select a Contract (Required)</option>
    </select>
    <p>
        <label for="enter-name">Name:</label>
        <input type="text" id="enter-name"></input>
        <p><i>(This name will be appended with additional information)</i></p>
    </p>
    <div id="uuid" class="ui-helper-hidden">
        <label for="uuid-field">UUID: </label>
        <input type="text" id="uuid-field" disabled="disabled" size="35"></input>
    </div>
    <p id="sla-group">
        <label for="sla">SLA:</label>
        <input type="radio" id="prem" name="sla" class="ui-state-disabled" disabled="disabled" txt="Premium">Premium</input>
        <input type="radio" id="std" name="sla" class="ui-state-disabled" disabled="disabled" txt="Standard">Standard</input>
        <input type="radio" id="na" name="sla" class="ui-state-disabled" disabled="disabled" txt="Self Support">Self Support</input>
    </p>
    <p id="support-level-group">
        <label for="support-level">Support Level:</label>
        <input type="radio" id="l1-l3" name="support-level" class="ui-state-disabled" disabled="disabled" txt="Level 1-3">Level 1-3</input>
        <input type="radio" id="l3" name="support-level" class="ui-state-disabled" disabled="disabled" txt="Level 3 only">Level 3 only</input>
        <input type="radio" id="ss" name="support-level" class="ui-helper-hidden" disabled="disabled" txt="Self Support"></input>
    </p>
    <p id="select-products">
        <label for="product-choices">Products:</label>
        <div id="product-choices"></div>
    </p>
</div>
</p>

<div>
    <table id="rhic-table" class="display" style="display: table" width="100%">
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Date Created</th>
                <th>Contract</th>
                <th>Resource Uri</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div> 
    <p>
    <button id="edit-button">Manage Products</button>
    <button id="delete-button">Delete</button>
    <button id="download-button">Download</button>
    </p>
</div>

<div id="confirm-cert" class="ui-helper-hidden">
    <p>Red Hat Identity Certificate Summary</p>
    <p>Contract: <span id="confirm-contract"></span></p>
    <p>Name: <span id="confirm-name"></span></p>
    <p>SLA: <span id="confirm-sla"></span></p>
    <p>Support Level: <span id="confirm-support-level"></span></p>
    <p>Products: <span id="confirm-products"><br></span></p>
    <p><div id="confirm-download-pem">Once the certificate is created, you will
    be presented with the certificate and private key in PEM format to download
    via your browser.  You must download and save the certificate at that time.
    This is the only opportunity to download the private key portion of your
    certificate.  Red Hat does not store your certificate's private key, and
    without it, your certificate can not be used.</div></p>
</div>

<div id="edit-dialog" class="ui-helper-hidden"></div>
<div id="confirm-edit" class="ui-helper-hidden"></div>

<div id="confirm-delete"></div>


</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<br>
<br>
<br>

{% endblock %}

{% block scripts %}

    function row_click() {
        // Row click selection / highlight
        $("#rhic-table tbody tr").unbind();
        $("#rhic-table tbody tr").click( function( e ) {
            if ( $(this).hasClass("row_click") )  {
                $("input:radio", this).attr("checked", false);
                $(this).removeClass("row_click");
                selectedRow = null;
            }
            else {
                oTable.$("input:radio").attr("checked", false);
                oTable.$("tr").removeClass("row_click");
                $("input:radio", this)[0].checked = true;
                $(this).addClass("row_click");
                selectedRow = this;
            }
        });
    }

    // Table initialization
    oTable = $("#rhic-table").dataTable( {
        "bAutoWidth": false,
        "bJQueryUI": true,
        "aaData": rhicTableData,
        "aoColumns": [
            {"bSortable": false},
            null,
            null,
            null,
            {"bSearchable": false,
             "bVisible": false
            }
        ],
        "fnDrawCallback": function( oSettings ) {
            row_click();
        },
    });	

    function populate_table() {
        rhicTableData = [];
        var jqxhr = $.get("/api/rhic/", 
            function(data) {
                rhicData = data;
                for (key = 0; key < data.length; key++) {
                    var rhic = data[key];
                    rhicTableData.push(["<input type=radio>", rhic["name"], rhic["created_date"], rhic["contract"], rhic["resource_uri"]]);
                }
            });

        jqxhr.complete(function () {
            oTable.fnClearTable();

            rhicTableData.forEach(function(rhic) {
                oTable.fnAddData(rhic);
            });

        });
    }

    populate_table();

{% endblock %}
