{% extends "base.html" %}

{% comment %}
#
# Copyright © 2012 Red Hat, Inc.
#
# This software is licensed to you under the GNU General Public
# License as published by the Free Software Foundation; either version
# 2 of the License (GPLv2) or (at your option) any later version.
# There is NO WARRANTY for this software, express or implied,
# including the implied warranties of MERCHANTABILITY,
# NON-INFRINGEMENT, or FITNESS FOR A PARTICULAR PURPOSE. You should
# have received a copy of GPLv2 along with this software; if not, see
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt.
{% endcomment %}

{% block content %}

<style>
    .dataTables_wrapper {
        clear: left;
        min-height: 100px;
        position: relative;
    }
</style>


<div id="main-wrap" class="wrapu">
    <div class="wrapi">
        <div id="container" class="clearWrap">
            <div id="content" class="c-mF">
                <div id="main">
                    <div id="appsTabBox">
                        <div class="clearBoxXtraWide">
                            <div class="clearBoxInnerXtraWide">
                                <div class="clearBoxBody">
                                    <h1>Red Hat Identity Certificate Management</h1>
                                        <div class="contentIndent">
                                            <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                                                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
                                                        <span style="padding: 6 16;">Current Certificates</span>
                                                    </li>
                                                </ul>

<div id="rhic-page" class="ui-tabs-panel ui-widget-content ui-corner-bottom" style="padding: 20px 20px 20px 20px">
<a id="create-link" href="">Create a new Red Hat Identity Certificate</a>

<p>
<div id="cert-dialog" class="ui-helper-hidden">
    <label for="select-contract">Contract:</label>
    <select id="select-contract">
        <option id="default-contract">Select a Contract (Required)</option>
    </select>
    <p>
        <label for="enter-name">Name:</label>
        <input type="text" id="enter-name"></input>
        <p><i>(This name will be appended with additional information)</i></p>
    </p>
    <p id="sla-group">
        <label for="sla">SLA:</label>
        <input type="radio" id="prem" name="sla" class="ui-state-disabled" disabled="disabled" txt="Premium">Premium</input>
        <input type="radio" id="std" name="sla" class="ui-state-disabled" disabled="disabled" txt="Standard">Standard</input>
        <input type="radio" id="na" name="sla" class="ui-state-disabled" disabled="disabled" txt="Self Support">Self Support</input>
    </p>
    <p id="support-level-group">
        <label for="support-level">Support Level:</label>
        <input type="radio" id="l1-l3" name="support-level" class="ui-state-disabled" disabled="disabled" txt="Level 1-3">Level 1-3</input>
        <input type="radio" id="l3" name="support-level" class="ui-state-disabled" disabled="disabled" txt="Level 3 only">Level 3 only</input>
        <input type="radio" id="ss" name="support-level" class="ui-helper-hidden" disabled="disabled" txt="Self Support"></input>
    </p>
    <p id="select-products">
        <label for="product-choices">Products:</label>
        <div id="product-choices"></div>
    </p>
</div>
</p>

<div>
    <table id="rhic-table" class="display" style="display: table" width="100%">
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Date Created</th>
                <th>Contract</th>
                <th>Resource Uri</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div> 
    <p>
    <button id="edit-button">Manage Products</button>
    <button id="delete-button">Delete</button>
    <button id="download-button">Download</button>
    </p>
</div>

<div id="confirm-cert" class="ui-helper-hidden">
    <p>Red Hat Identity Certificate Summary</p>
    <p>Contract: <span id="confirm-contract"></span></p>
    <p>Name: <span id="confirm-name"></span></p>
    <p>SLA: <span id="confirm-sla"></span></p>
    <p>Support Level: <span id="confirm-support-level"></span></p>
    <p>Products: <span id="confirm-products"><br></span></p>
    <p><div id="confirm-download-pem">Once the certificate is created, you will
    be presented with the certificate and private key in PEM format to download
    via your browser.  You must download and save the certificate at that time.
    This is the only opportunity to download the private key portion of your
    certificate.  Red Hat does not store your certificate's private key, and
    without it, your certificate can not be used.</div></p>
</div>

<div id="edit-dialog" class="ui-helper-hidden"></div>
<div id="confirm-edit" class="ui-helper-hidden"></div>

<div id="confirm-delete"></div>


</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<br>
<br>
<br>

{% endblock %}

{% block scripts %}

    var rhicData = []
    var oldRhicdata = []
    var rhicTableData = []
    var oTable;

    function row_click() {
        // Row click selection / highlight
        $("#rhic-table tbody tr").unbind();
        $("#rhic-table tbody tr").click( function( e ) {
            if ( $(this).hasClass('ui-state-active') ) {
                $("input:radio", this).attr("checked", false)
                $(this).removeClass('ui-state-active');
            }
            else {
                oTable.$('tr.ui-state-active').removeClass('ui-state-active');
                oTable.$("input:radio").attr("checked", false)
                $(this).addClass('ui-state-active');
                $("input:radio", this)[0].checked = true;
            }
        });
    }

    // Table initialization
    oTable = $("#rhic-table").dataTable( {
        "bAutoWidth": false,
        "bJQueryUI": true,
        "aaData": rhicTableData,
        "aoColumns": [
            {"bSortable": false},
            null,
            null,
            null,
            {"bSearchable": false,
             "bVisible": false
            }
        ],
        "fnDrawCallback": function( oSettings ) {
            row_click();
        },
    });	

    $('.dataTables_length select').live('change', function() {
           alert(this.value);
    });

    function populate_table() {
        rhicTableData = [];
        var jqxhr = $.get("/api/rhic/", 
            function(data) {
                rhicData = data;
                for (key = 0; key < data.length; key++) {
                    var rhic = data[key];
                    rhicTableData.push(["<input type=radio>", rhic["name"], rhic["created_date"], rhic["contract"], rhic["resource_uri"]]);
                }
            });

        jqxhr.complete(function () {
            oTable.fnClearTable();

            rhicTableData.forEach(function(rhic) {
                oTable.fnAddData(rhic);
            });

            // row_click();
        });
    }

    populate_table();

    // $("#download").onload(function() {
        // populate_table();
    // });

    // Helper function to get the currently selected row
    function fnGetSelected( oTableLocal ) {
        return oTableLocal.$("tr.ui-state-active")[0];
    }

    // Wipe SLA choices.
    function wipe_sla() {
        $("#sla-group input").each(function(index) {
            $(this).addClass("ui-state-disabled");
            $(this).attr("disabled", "disabled");
            $(this).removeAttr("checked");
        });
    }

    // Wipe Support Level choices.
    function wipe_support_level() {
        $("#support-level-group input").each(function(index) {
            $(this).addClass("ui-state-disabled");
            $(this).attr("disabled", "disabled");
            $(this).removeAttr("checked");
        });
    }

    // Wipe product choices.
    function wipe_product_choices() {
        $("#product-choices").remove();
        $("#select-products").append('<div id="product-choices"></div>');
    }
    
    // Wipe contract choices.
    function wipe_contract() {
        $("#select-contract").removeClass("ui-state-disabled");
        $("#select-contract").removeAttr("disabled", "");
    }
    
    // Wipe Confirmation display
    function wipe_confirm() {
        $("#confirm-contract").text("");
        $("#confirm-name").text("");
        $("#confirm-sla").text("");
        $("#confirm-support-level").text("");
        $("#confirm-products").text("");
        $("#confirm-download-pem").addClass("ui-helper-hidden");
    }

    // Wipe everything.
    function wipe() {
        wipe_contract();
        wipe_sla();
        wipe_support_level();
        wipe_product_choices();
        wipe_confirm();
        $("#enter-name").attr("value", "");
        $("#enter-name").removeAttr("disabled");
        $("#enter-name").removeClass("ui-state-disabled");
        productMap = {};
        addedProducts = [];
    }

    function get_contract_data() {

        var contractData = {};

        var jqxhr = $.ajax({
            url: "/api/account/",
            async: false,
            success: function(data) {
                // Remove any old options first.
                $("#select-contract [id!='default-contract']").remove()
                for (key = 0; key < data[0]["contracts"].length; key++) {
                    var contract = data[0]["contracts"][key];
                    contractData[contract["contract_id"]] = contract;
                    $("#select-contract").append('<option id="' + contract["contract_id"] + '" value="' + contract["contract_id"] + '">' + contract["contract_id"] + '</option>');
                }
            },
        });

        return contractData;

    }

    function get_product_map(products) {

        var productMap = {};

        // Iterate over each product in the contract
        products.forEach(function(product) {

            var sla = product["sla"];
            var supportLevel = product["support_level"];
            var engId = product["engineering_id"];
            var prodName = product["name"];

            if ( $.inArray(sla, Object.keys(productMap)) >= 0 ) {
                if ( $.inArray(supportLevel, Object.keys(productMap[sla])) >= 0 ) {
                    if ( $.inArray(prodName, productMap[sla][supportLevel] ) < 0) {
                        productMap[sla][supportLevel].push([engId, prodName])
                    }
                }
                else {
                    productMap[sla][supportLevel] = []
                    productMap[sla][supportLevel].push([engId, prodName])
                }
            }
            else {
                productMap[sla] = {}
                productMap[sla][supportLevel] = []
                productMap[sla][supportLevel].push([engId, prodName])
            }
        });

        return productMap;

    }

    // Enable the valid product choices base on the chosen SLA and support
    // level.
    function enable_product_choices(productMap) {
        var sla = $("input[name=sla]:checked").attr("id");
        var supportLevel = $("input[name=support-level]:checked").attr("id");
        Object.keys(productMap[sla][supportLevel]).forEach(function(product) {
            var prodName = productMap[sla][supportLevel][product][1];
            var engId = productMap[sla][supportLevel][product][0];
            // Add each product to the product choices
            if ( $.inArray(prodName, addedProducts) < 0 ) {
                addedProducts.push(prodName);
                html = '<p><input type="checkbox" name="products" value="' + 
                    engId + '" txt="' + prodName + '" id="' + engId + '">' + 
                    prodName + '</input></p>';
                $("#product-choices").append(html);
            }
        });
    }

    // Create link action.
    $("#create-link").click(function(e) {
        e.preventDefault();

        // Main product map data structure used for controlling UI elements
        var productMap = {};
        // List to store engineering id's we've already added.
        var addedProducts = [];

        // Enable the valid sla choices based on the data from the contract
        // parsed into productMap variable.
        function enable_sla() {
            Object.keys(productMap).forEach(function(sla) {
                $("#" + sla).removeClass("ui-state-disabled");
                $("#" + sla).attr("disabled", false);
            });
        }

        // Enable the valid support level choices based on the chosen SLA.
        function enable_support_level() {
            var sla = $("input[name=sla]:checked").attr("id");
            Object.keys(productMap[sla]).forEach(function(supportLevel) {
                $("#" + supportLevel).removeClass("ui-state-disabled");
                $("#" + supportLevel).attr("disabled", false);
            });
            if ( sla == "na" ) {
                $("#ss").attr("checked", true);
                wipe_product_choices();
                enable_product_choices(productMap);
            }
        }

        // Go ahead and wipe.
        wipe()

        // Download contract data from server to populate contract selector
        var contractData = get_contract_data();
        
        // Contract Selector select action
        $("#select-contract").change(function() {

            // Wipe everything else first
            wipe();

            contract_id = $("#select-contract option:selected").text();
            contract = contractData[contract_id];

            productMap = get_product_map(contract["products"]);

            enable_sla();

        });


        // SLA radio button click action
        $("input[name='sla']").each(function(index) {
            this.onclick = function() {
                wipe_support_level();
                wipe_product_choices();
                enable_support_level();
            };
        });

        // Support level radio button click action
        $("input[name='support-level']").each(function(index) {
            this.onclick = function() {
                wipe_product_choices();
                enable_product_choices(productMap);
            };
        });

        // Create Certificate dialog
        $("#cert-dialog").dialog({
            autoOpen: false,
            title: "Create New Certificate",
            modal: true,
            width: "400",
            height: "450",
            buttons: {
                "Create": function() {
                    var certData = {};
                    var confirmData = {};
                    certData["name"] = $("#enter-name")[0].value;
                    certData["sla"] = $("input[name=sla]:checked").attr("id");
                    confirmData["sla"] = $("input[name=sla]:checked").attr("txt");
                    certData["support_level"] = $("input[name=support-level]:checked").attr("id");
                    confirmData["support_level"] = $("input[name=support-level]:checked").attr("txt");
                    certData["contract"] = $("#select-contract")[0].value;
                    certData["products"] = [];
                    certData["engineering_ids"] = [];
                    confirmData["products"] = [];
                    $("input[name=products]:checked").each(
                        function(index) {
                            certData["engineering_ids"].push($(this).attr("value"));
                            certData["products"].push($(this).attr("txt"));
                            confirmData["products"].push($(this).attr("txt"));
                        }
                    );

                    confirm_dialog("/api/rhic/", certData, confirmData, 
                        "Create Confirmation", "Create Certificate", "Don't Create", "POST", true);
                    $(this).dialog("close");
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            },
        });

        // Open dialog after contract data has been downloaded and processed.
        $("#cert-dialog").dialog("open");

    });

    $.download = function(url, data, method){
        //url and data options required
        if( url && data ){ 
            //data can be string of parameters or array/object
            data = typeof data == 'string' ? data : jQuery.param(data);
            //split params into form inputs
            var inputs = '';
            jQuery.each(data.split('&'), function(){ 
                var pair = this.split('=');
                inputs+='<input type="hidden" name="'+ pair[0] +'" value="'+ pair[1] +'" />'; 
            });
            //send request
            jQuery('<form action="'+ url +'" method="'+ (method||'post') +'">'+inputs+'</form>')
            .appendTo('body').submit().remove();
        };
    };

    // Create Confirm Dialog
    function confirm_dialog(url, certData, confirmData, title, button1, button2, method, do_download) {
        $("#confirm-cert").dialog({
            autoOpen: false,
            title: title,
            modal: true,
            buttons: [
                {
                    text: button1, 
                    click: function() {
                         var certPost = $.ajax({
                            url: url,
                            contentType: "application/json",
                            processData: false,
                            type: method,
                            data: JSON.stringify(certData),
                            dataType: "json",
                        });

                        certPost.complete(function(data) {
                            $("#confirm-cert").dialog("close");
                            rhic = $.parseJSON(data.responseText);
                            rhicData.push(rhic)

                            // row_click();

                            if ( do_download ) {
                                oTable.fnAddData(["<input type=radio>", rhic["name"], rhic["created_date"], 
                                    rhic["contract"], rhic["resource_uri"]]);

                                var cert_pem = {};
                                cert_pem = "cert_pem=" + encodeURIComponent(rhic["cert_pem"]);

                                $.download("/api/rhicdownload/" + rhic["uuid"] + "/", cert_pem, 'get');
                            }

                        });

                    },
                },
                {
                    text: button2,
                    click: function() {
                        $(this).dialog("close");
                    }
                }
            ]
        });

        // Populate dialog with the choices made from certData
        $("#confirm-contract").append(certData["contract"]);
        $("#confirm-name").append(certData["name"]);
        $("#confirm-sla").append(confirmData["sla"]);
        $("#confirm-support-level").append(confirmData["support_level"]);
        confirmData["products"].forEach(function(product) {
            $("#confirm-products").append(product + "<br>");
        });

        if ( do_download ) {
            $("#confirm-download-pem").removeClass("ui-helper-hidden");
        }

        $("#confirm-cert").dialog("open");
    }

    // Download PEM dialog
    function download_dialog(rhic) {
        $("#download-dialog").dialog({
            autoOpen: false,
            title: "Download Certificate PEM",
            modal: true,
            buttons : {
                "Download PEM": function() {
                    
                }
            },
        });


    }


    // Edit button click action.
    $( "#edit-button" ).button().click(function() {

        wipe();

        var selected = fnGetSelected(oTable);
        var aData = oTable.fnGetData(selected);
        var url = aData[4];
        var rhic;
        var contractData = {};
        var productMap = {};
        var addedProducts = [];
        oldRhicData = rhicData;

        rhicData = rhicData.filter(function(_rhic) {
            if ( _rhic["resource_uri"] == url ) {
                rhic = _rhic;
                return false;
            }
            else {
                return true;
            }
        });

        $("#enter-name")[0].value = rhic["name"];
        $("#enter-name").addClass("ui-state-disabled");
        $("#enter-name").attr("disabled", "disabled");
        $("#" + rhic["sla"])[0].checked = true;
        $("#" + rhic["support_level"])[0].checked = true;

        contractData = get_contract_data();
        productMap = get_product_map(contractData[rhic["contract"]]["products"]);
        enable_product_choices(productMap);

        $("#" + rhic["contract"]).attr("selected", true);
        $("#select-contract").addClass("ui-state-disabled");
        $("#select-contract").attr("disabled", "disabled");

        rhic["engineering_ids"].forEach(function(engId) {
            $("#" + engId).each(function() {
                if ( $.inArray($(this).attr("txt"), rhic["products"]) >= 0 ) {
                    $(this)[0].checked = true;
                }
            });
        });

        $("#cert-dialog").dialog({
            autoOpen: false,
            title: "Manage Products",
            modal: true,
            buttons: {
                "Update Products": function() {
                    var certData = {};
                    var confirmData = {};
                    certData["name"] = $("#enter-name")[0].value;
                    certData["sla"] = $("input[name=sla]:checked").attr("id");
                    confirmData["sla"] = $("input[name=sla]:checked").attr("txt");
                    certData["support_level"] = $("input[name=support-level]:checked").attr("id");
                    confirmData["support_level"] = $("input[name=support-level]:checked").attr("txt");
                    certData["contract"] = $("#select-contract")[0].value;
                    certData["products"] = [];
                    certData["engineering_ids"] = [];
                    confirmData["products"] = [];
                    $("input[name=products]:checked").each(
                        function(index) {
                            certData["engineering_ids"].push($(this).attr("value"));
                            certData["products"].push($(this).attr("txt"));
                            confirmData["products"].push($(this).attr("txt"));
                        }
                    );

                    confirm_dialog(rhic["resource_uri"], certData, confirmData, 
                        "Manage Products Confirmation", "Update Products", "Don't Update", "PATCH", false);
                    $(this).dialog("close");

                },
                "Cancel": function() {
                    rhicData = oldRhicData;
                    $(this).dialog("close");
                }
            }
        });

        $("#cert-dialog").dialog("open");

    });

    // Delete button click action.
    $( "#delete-button" )
        .button()
        .click(function() {

            var selected = fnGetSelected(oTable);
            var aData = oTable.fnGetData(selected);
            var url = aData[4]

            // Delete Confirmation Dialog
            $("#confirm-delete").text("Are you sure you want to delete " + aData[1] + " from your account?");
            $("#confirm-delete").dialog({
                autoOpen: false,
                title: "Confirm Certificate Deletion",
                modal: true,
                buttons: {
                    "Delete": function() {
                        var jqxhr = $.ajax({
                            url: url,
                            type: "DELETE"
                        });

                        jqxhr.complete();
                        oTable.fnDeleteRow(selected);
                        $(this).dialog("close");
                    },
                    "Don't Delete": function() {
                        $(this).dialog("close");
                    }
                }
            });
            $("#confirm-delete").dialog("open")
        });

    // Download button click action.
    $( "#download-button" )
        .button()
        .click(function() {
                var selected = fnGetSelected(oTable);
                var aData = oTable.fnGetData(selected);
                var url = aData[4];

                rhicData.forEach(function(rhic) {
                    if ( rhic["resource_uri"] == url ) {
                        $.download("/api/rhicdownload/" + rhic["id"] + "/", " ", 'get');
                        return false
                    }
                });
            });

{% endblock %}



