{% extends "base.html" %}

{% comment %}
#
# Copyright © 2012 Red Hat, Inc.
#
# This software is licensed to you under the GNU General Public
# License as published by the Free Software Foundation; either version
# 2 of the License (GPLv2) or (at your option) any later version.
# There is NO WARRANTY for this software, express or implied,
# including the implied warranties of MERCHANTABILITY,
# NON-INFRINGEMENT, or FITNESS FOR A PARTICULAR PURPOSE. You should
# have received a copy of GPLv2 along with this software; if not, see
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt.
{% endcomment %}

{% block content %}

<p>
Current Certificates:
</p>

<div>
    <table id="rhic-table" width="100%">
        <thead>
            <tr>
                <th><input type="checkbox" name="check-all"/></th>
                <th>Name</th>
                <th>Date Created</th>
                <th>Contract</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

    var rhicData = []
    var rhicTableData = []


    var jqxhr = $.get("/api/rhic/", 
        function(data) {
            rhicData = data;
            for (key = 0; key < data.length; key++) {
                var rhic = data[key];
                rhicTableData.push(["<input type=radio>", rhic["name"], rhic["created_date"], rhic["contract"]]);
            }
        });

    jqxhr.complete(function () {
        $("#rhic-table").dataTable( {
            "bAutoWidth": false,
            "bJQueryUI": true,
            "aaData": rhicTableData,
        });	

        $("#rhic-table tr").click(function () {
            $(this).toggleClass("ui-state-active");
        });

    });


{% endblock %}



